/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}

#root main {
  height: 100%;
  padding-top: 56px; /* leave space for navbar */
}

table.table tbody tr td {
  vertical-align: middle;
}

.modal .modal-title {
  font-size: 1.2rem;
}

.modal .modal-dialog {
  box-shadow: none;
}

[data-amplify-authenticator] {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
